<% layout('layouts/boilerplate') %>
    <h1>
        <%=campground.title %>
    </h1>
    <h2>
        In: <%=campground.location%>
    </h2>
    <img src="<%= campground.image %>" alt="">
    <p>
        <%= campground.description %>
    </p>
    <h3>$<%= campground.price%> per night.</h3>
    <footer>
        <p>
            <a href="/campgrounds/<%=campground._id%>/edit">Edit this campground</a>
        </p>
        <p>
            <a href="/campgrounds">Return to Campground list</a>
        </p>
        <p>
        <form action="/campgrounds/<%=campground.id%>?_method=DELETE" method="POST">
            <button>Delete this Campground</button>
        </form>
        </p>
    </footer>